{% extends 'base.html' %}
{% block body %} 

<section id="section__one">
    <h4>bem vindo</h4>
    <h1>Melhor Pizza do Planeta</h1>
    <div class="btns">
        <a href="/orders/" >Seus Pedidos</a>
        <a href="/menu/" >Ver Menu</a>
    </div>

</section>
<section id="section__two">
    <div class="outter__box__one box">
        <div class="inner__box__one">
            <div class="icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="text">
                    <h3>+55 (01)9999-8888</h3>
                    <p>Ligue e peça agora</p>
            </div>
        </div>
        <div class="inner__box__one">
            <div class="icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="text">
                    <h3>Rua euro dolar 21</h3>
                    <p>Esquina 2133</p>
            </div>
        </div>
        <div class="inner__box__one">
            <div class="icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="text">
                    <h3>Aberto Segunda - Sexta</h3>
                    <p>18:00 - 23:00</p>
            </div>
        </div>
    </div>
    <div class="outter__box__two box">
        <div class="inner__box__two">
            <div class="social__icons">
                <a href="#" ><i class="fab fa-facebook-f"></i></a>
                <a href="#" ><i class="fab fa-twitter"></i></a>
                <a href="#" ><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
