{% extends 'base.html' %}

{% block title %}Pedidos{% endblock title %}
{% block body %}
<section id="orders">
    {% if orders %}
    {% if firstobjectofcurrentuser.order_confirmed == False  %}
    <h1>Pedidos</h1>
    <div class="table__orders__container">
        <div class="table__orders">
            <table>
                <tr>
                    <th>Pizza</th>
                    <th>Descricao</th>
                    <th>Quantidade</th>
                    <th>Preco</th>
                    <th>Cancelar</th>
                </tr>
                {% for order in orders  %}
                <tr>
                    <td>{{order.Pizza_name}}</td>
                    <td>{{order.Pizza_desc}}</td>
                    <td>
                        <form action="/decreament/" method="POST" class="btn__increament__decreament">
                            {% csrf_token %}
                            <input type="text" name="order_Id" , id="order_Id" value="{{order.id}}">
                            <input type="text" name="Pizza_name_" , id="Pizza_name_" value="{{order.Pizza_name}}">
                            <button type="submit"><i class="fas fa-minus" aria-hidden="true"></i></button>
                        </form>
                        {{order.quantity}}
                        <form action="/increament/" method="POST" class="btn__increament__decreament">
                            {% csrf_token %}
                            <input type="text" name="order_Id" , id="order_Id" value="{{order.id}}">
                            <input type="text" name="Pizza_name_" , id="Pizza_name_" value="{{order.Pizza_name}}">
                            <button type="submit"><i class="fas fa-plus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                    <td>R${{order.Pizza_price}}</td>
                    <td><form action="/deleteOrder/" method="POST">
                        {% csrf_token %}
                        <input type="text" name="order_Id", id="order_Id" value="{{order.id}}">
                        <button type="submit"><i class="fas fa-trash-alt" aria-hidden="true"></i> Remover</button>
                    </form></td>

                </tr>
                {% endfor %}
                <tr>
                    <th>valor</th>
                    <th>total = </th>
                    <th>R${{totalPrice}}</th>
                    <th></th>
                    <th>
                        <form action="/deleteAll/" method="POST">
                            {% csrf_token %}
                            <button type="submit"><i class="fas fa-trash-alt" aria-hidden="true"></i> Cancelar</button>
                        </form>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="confirm_orders">
        <form action="/orderConfirmed/" method="POST">
            {% csrf_token %}
            <button type="submit"> Concluir Pedido <i class="fas fa-check" aria-hidden="true"></i></button>
        </form>
    </div>
    {% else %}
    <h1 class="confirmed_pay">Seu pedido foi confirmado. O motoboy está a caminho!</h1>
    <div class="bill_container">
        <div class="bill_box">
            <table>
                <tr>
                    <th>Pizza</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
                {% for pizza in orders  %}
                <tr>
                    <td>{{pizza.Pizza_name}}</td>
                    <td>{{pizza.quantity}}</td>
                    <td>R${{pizza.Pizza_price}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Valor total -> </td>
                    <td>R${{totalPrice}}</td>

                </tr>
            </table>
        </div>
    </div>
    <form action="/deleteAll/" method="POST">
        {% csrf_token %}
        <button type="submit" class="clean_order"> <i class="fas fa-check" aria-hidden="true"></i>Confirmar Entrega</button>
        <button type="submit" class="cancel_all_order"><i class="fas fa-times" aria-hidden="true"></i>Cancelar Pedido</button>
    </form>

    {% endif %}
    {% else %}
    <h4>Voce não tem nada no carrinho :/ <a href="/menu/"> Cardapio </a></h4>
    {% endif %}
</section>


{% endblock body %}